table.subplan-table {
  width: 100%;
}

div.subplan-table-container {
  overflow-x: auto;
}

table.subplan-table tr {
    border-top: 1px solid #aaaaaa;
}

body.ionic5.moodleapp-4.dark table.subplan-table tr {
  border-top: 1px solid #383a3b;
}

table.subplan-table tr:nth-child(odd) {
  background-color: #f7f7f7;
}

body.ionic5.moodleapp-4.dark tr:nth-child(odd) {
  background-color: #282b2f;
}

.subplan-table td,
.subplan-table th {
  padding: 2px 6px;
  text-align: left;
}

.subplan-collapse-button {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

body.ionic5.moodleapp-4.dark .subplan-collapse-button {
  color: white;
}

.subplan-collapse-button::before {
  content: '\279C'; /*Heavy Round-Tipped Rightwards Arrow*/
  display: inline-block;
  transition: transform 0.35s ease;
}

.subplan-collapse-button-active::before {
  transform: rotate(90deg);
}

/* Removes the focus when clicking on the button */
.subplan-collapse-button:focus:not(:focus-visible),
.subplan-collapse-button-active:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.subplan-collapse-content {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.35s ease;
}

span.subplan-highlight {
  color: black;
  background: yellow;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.8em;
  float: right;
}

div.subplan-info {
  text-align: right;
  font-size: 0.8em;
}

div.subplan-warnmsg {
  background: #f4d6d2;
  color: #691911;
  padding: 0.4em;
  margin-bottom: 0.4em;
  border-radius: 0.5em;
}

body.ionic5.moodleapp-4.dark div.subplan-warnmsg {
  background: transparent;
  color: white;
  border: 2px solid #b70b0b;
}

span.subplan-green:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #00bf00;
}

span.subplan-red:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #d70000;
}

span.subplan-orange:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #ffa100;
}