.subplan-collapse-button {
  background:transparent;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.subplan-collapse-button::before {
  content: '\279C'; /*Heavy Round-Tipped Rightwards Arrow*/
  display: inline-block;
  transition: transform 0.35s ease;
}

.subplan-collapse-button-active::before {
  transform: rotate(90deg);
}

.subplan-collapse-content {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.35s ease;
}

span.subplan-highlight {
  background: yellow;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.8em;
  float: right;
}

span.subplan-green:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #00bf00;
}

span.subplan-red:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #d70000;
}

span.subplan-orange:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 2px;
  background-color: #ffa100;
}