{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
    details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>. }}
{{!
    @template block_subplan/web

    Template for the web version of the whole subplan block. It is responsible for
    creating the tables for all the days for which there is data.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
        "mail": "",
        "fetchdate": "1649265493",
        "isplantoold": false,
        "teacherversion": false,
        "enableteacherversion": false,
        "switchversionurl": "https://example.com/moodle/my/index.php?block_subplan_teacher=1",
        "daycontainers": [
            {
                "longdate": "Dienstag, 11.01.2022",
                "printdate": "vom 11.01.22 um 9:23",
                "version": "Version 3",
                "pleaseregard": "Wegen der Gesamtlehrerkonferenz entf\u00e4llt heute bei allen Klassen der Nachmittagsunterricht.",
                "headings": ["Klasse","Std.","Lehrer\/Fach","vertr. durch","Fach","Raum","Bemerkung"],
                "rows": [["5a","1.","Mustermann \/ M","Maier","D","127","Vergesst die Deutsch-B\u00fccher nicht!"]],
                "additionalinfo": [["name": "Abwesende Lehrer", "content": "Maier"]],
                "hassubstitutions": true,
                "dayid": "block-subplan-624dcb557a5b46",
                "lastday": true
            }
        ]
    }
}}

{{! No plan warning if there is no data }}
{{^daycontainers}}
    <div class="alert alert-danger">
        <strong>{{#str}} attention, block_subplan {{/str}}</strong> {{#str}} no_plan, block_subplan {{/str}}
        {{#mail}}
            <br>{{#str}} please_contact, block_subplan {{/str}} <a href="mailto:{{ . }}">{{ . }}</a>
        {{/mail}}
    </div>
{{/daycontainers}}

{{! Old plan warning if the data is old }}
{{#isplantooold}}
    <div class="alert alert-danger">
        <strong>{{#str}} attention, block_subplan {{/str}}</strong> {{#str}} old_plan, block_subplan {{/str}} {{#userdate}} {{fetchdate}}, {{#str}} strftimedatetime, core_langconfig {{/str}} {{/userdate}}
        {{#mail}}
            <br>{{#str}} please_contact, block_subplan {{/str}} <a href="mailto:{{ . }}">{{ . }}</a>
        {{/mail}}
    </div>
{{/isplantooold}}

{{! button for switching display version if switching is enabled}}
{{#enableteacherversion}}
    <a href={{{switchversionurl}}} class="btn btn-secondary btn-sm" style="padding: .1rem .2rem;">
        {{# teacherversion}} {{#str}} tostudentversion, block_subplan {{/str}} {{/ teacherversion}}
        {{^ teacherversion}} {{#str}} toteacherversion, block_subplan {{/str}} {{/ teacherversion}}
    </a>
{{/enableteacherversion}}

<div class="my-1"></div>

{{! Display all days }}
{{#daycontainers}}
    {{! Header with button to expand the content}}
    <button class="subplan-collapse-button" type="button" data-block-subplan-target="{{dayid}}" aria-expanded="false" aria-controls="{{dayid}}">
        {{#str}} substitutions, block_subplan {{/str}} {{{longdate}}}
    </button>
    {{! Collapsible that contains the actual content for the day}}
    <div class="subplan-collapse-content" id="{{dayid}}">
        <div class="text-right text-muted">
            <small>{{{version}}} {{{printdate}}}</small>
        </div>
        {{! Add 'Please regard' box}}
        {{#pleaseregard}}
            <div class="alert alert-danger"><strong>{{#str}} please_regard, block_subplan {{/str}}:</strong> {{{pleaseregard}}}</div>
        {{/pleaseregard}}
        {{! Add additional info if there is any}}
        {{#additionalinfo}}
            <strong>{{{name}}}:</strong> {{{content}}}<br>
        {{/additionalinfo}}
        {{! Add the table if there are substitutions}}
        {{#hassubstitutions}}
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        {{! Table headings }}
                        {{#headings}}
                            <th scope="col">{{{ . }}}</th>
                        {{/headings}}
                    </tr>
                    {{! Table data rows}}
                    {{#rows}}
                        <tr>
                            {{# . }}
                                <td>{{{ . }}}</td>
                            {{/ . }}
                        </tr>
                    {{/rows}}
                </table>
            </div>
        {{/hassubstitutions}}
        {{! Show no substitutions message if there are no substitutions}}
        {{^hassubstitutions}}
            {{#str}} nosubstitutions, block_subplan {{/str}}
        {{/hassubstitutions}}
    </div>
    {{^lastday}}
        <div class="my-3"></div>
    {{/lastday}}
{{/daycontainers}}
